Repository DoYouHost/ServerCoolingFanController: changes, and which pre-commit hooks are due for each by the changed paths.
All: esphome-check, github-workflow-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args: [--format, parsable]
        files: '\.ya?ml$'

  - repo: local
    hooks:
      - id: esphome-check
        name: ESPHome config validation
        entry: bash -c 'if [ -f ".venv/Scripts/esphome.exe" ]; then echo "üîç Validating ESPHome config..."; .venv/Scripts/esphome.exe config serverCollingFanController.yaml; elif [ -f ".venv/bin/esphome" ]; then echo "üîç Validating ESPHome config..."; .venv/bin/esphome config serverCollingFanController.yaml; else echo "‚ö†Ô∏è ESPHome not found in venv, skipping validation"; fi'
        language: system
        files: 'serverCollingFanController\.ya?ml$'
        pass_filenames: false

      - id: github-workflow-check
        name: GitHub Actions workflow syntax check
        entry: bash -c 'echo "üîç Checking GitHub Actions syntax..."; for file in .github/workflows/*.yaml .github/workflows/*.yml; do if [ -f "$file" ]; then echo "Checking $file"; fi; done'
        language: system
        files: '\.github/workflows/.*\.ya?ml$'
        pass_filenames: false

BUILD: Improve regex for extracting project version and update build workflow reference
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Update build workflow reference to latest version of build.yml
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Update build workflow reference to use the latest version of build.yml
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

Add promote to production workflow with release checks
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Remove debug version job from build and pre-release workflow
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

Update release trigger to include edited releases and enhance debug information
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to trigger on published releases and add manual test version input
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to handle additional release types and enhance debug information
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to restrict release types and simplify debug information
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to include prereleased types
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update publish-pages workflow to refine trigger conditions and streamline workflow dependencies
  .github/workflows/publish-pages.yaml
Due: github-workflow-check

Update promote to production workflow to expand release types and enhance debug information
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to simplify version validation and enhance clarity
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

BUILD: Update promote to production workflow to enhance version validation and streamline promotion conditions
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to include additional release types and enhance event debugging
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

BUILD: Update promote to production workflow to include 'released' release type
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

Update promote to production workflow to restrict release types to 'released' and enhance event debugging
  .github/workflows/promote-to-prod.yaml
Due: github-workflow-check

BUILD: Update workflows to enhance publish process and add firmware update capabilities
  .github/workflows/promote-to-prod.yaml
  .github/workflows/publish-pages.yaml
  serverCollingFanController.yaml
Due: esphome-check, github-workflow-check

Refactor workflows to use environment variables for file paths and project details
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/publish-pages.yaml
Due: github-workflow-check

Refactor ESPHOME_VERSION to use environment variable in build workflow
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Update ESPHOME_VERSION to 2025.8.0
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Refactor workflows to remove environment variables and use direct file references
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
  .github/workflows/publish-pages.yaml
Due: github-workflow-check

Rename serverCollingFanController to serverCoolingFanController and update related references
  .github/workflows/build-and-pre-release.yaml
  .github/workflows/promote-to-prod.yaml
  .pre-commit-config.yaml
  README.md
  serverCollingFanController.yaml
  serverCoolingFanController.yaml
Due: esphome-check, github-workflow-check

BUILD: Update version extraction to read from version.txt and change project version to 'dev'
  .github/workflows/build-and-pre-release.yaml
  serverCoolingFanController.yaml
  version.txt
Due: github-workflow-check

BUILD: Enable debug mode in firmware build workflow
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Add missing permissions for actions in workflow
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Update manifest path in installation button
  static/index.md
Due: none

BUILD: Update version to 2025.2, add release summary generation, and enhance changelog
  .github/workflows/build-and-pre-release.yaml
  CHANGELOG.md
  serverCoolingFanController.yaml
  version.txt
Due: github-workflow-check

BUILD: Enhance version extraction regex and add debug output for pattern matching
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Improve version extraction logic in CHANGELOG processing for better reliability
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Update summary formatting to use ESPHome standard for newlines in JSON
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Improve summary formatting for JSON to align with ESPHome standards
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

Disable debug mode in firmware build workflow
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Refactor summary generation to use printf for proper JSON formatting
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: Enhance summary generation to use printf for proper JSON escape sequences
  .github/workflows/build-and-pre-release.yaml
Due: github-workflow-check

BUILD: PCF8574, status_led, error_led, DS18B20 address
  CHANGELOG.md
  docs/GPIO_PINOUT.txt
  docs/PCF8574_Pinout.svg
  docs/wt32-eth01-pinout.jpeg
  serverCoolingFanController.yaml
Due: none

BUILD: Fix I2C pins assignments
  CHANGELOG.md
  docs/DXF_Schematic.zip
  docs/GPIO_PINOUT.txt
  docs/Schematic.png
  docs/fan_pwm_2n2222.png
  docs/fan_pwm_2n2222.svg
  serverCoolingFanController.yaml
Due: none

BUILD: Update fan PWM frequency to 9765 Hz
  CHANGELOG.md
  serverCoolingFanController.yaml
Due: none

BUILD: Update fan PWM frequency to 19531 Hz and increase manual override speed to 10
  CHANGELOG.md
  serverCoolingFanController.yaml
Due: none

BUILD: Invert ERROR_LED logic
  CHANGELOG.md
  serverCoolingFanController.yaml
Due: none
